sample12/src/main/mule/sample12.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="ca76a0cb-522d-45de-8096-b71c2953885f" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="sample12Flow" doc:id="f4c87abc-9d78-43c4-85b8-e8729f406bfc" >
		<http:listener doc:name="Listener" doc:id="d670e571-8e7b-4e68-b104-685981b3fa0f" config-ref="HTTP_Listener_config" path="/sample"/>
		<set-variable value="#[payload.no1]" doc:name="Set Variable" doc:id="1236d7a5-0eed-40b5-9338-8d86f5d5104d" variableName="no1"/>
		<set-variable value="#[payload.no2]" doc:name="Set Variable" doc:id="6508ed5e-c6a0-466b-9786-0e2e9a6d3a1e" variableName="no2"/>
		<ee:transform doc:name="Transform Message" doc:id="90f1d7d2-1c4d-4815-9948-51bd43718b77" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"adding of  nos": vars.no1 + vars.no2
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
